:root {
  --color-text: #212121;
  --color-text-hover: #e77e9b;
  --font-logo: "Futura Std", system-ui, -apple-system, sans-serif;
  --font-nav: "Futura Std", system-ui, -apple-system, sans-serif;
  --font-logo-weight: 300;
  --font-nav-weight: 300;
  --font-logo-size: clamp(3rem, 1rem + 1vw, 4rem);
  --font-nav-size: clamp(0.5rem, 0.8rem + 0.5vw, 2rem);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  padding-inline: 3rem;
  /* padding-block: 3rem; */
  padding-block-start: 3rem;
}

/* Header */
header {
  color: var(--color-text);
  background-color: white;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  grid-area: 1 / 1 / 4 / 2;
}

/* Hamburger menu */
span.material-symbols-outlined {
  font-size: 2.5rem;
}

.bg-container {
  grid-area: 1 / 2 / 4 / 4;
  background-image: url("./assets/images/bird/b1.png");
  /* min-height: 100vh; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Logo */
#logo {
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-logo);
  font-weight: var(--font-logo-weight);
  font-size: var(--font-logo-size);
  line-height: 1;
}

nav {
  font-family: var(--font-nav);
  font-weight: var(--font-nav-weight);
  font-size: var(--font-nav-size);
}

h1 {
  margin-block-end: 3rem;
}

ul {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3rem;
  list-style: none;
}

nav ul li {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  border-block-end: 2px solid var(--border-color, transparent);
}

nav ul li a:where(:hover, :focus) {
  --border-color: var(--color-text-hover);
  color: var(--color-text-hover);
}

nav ul li a:active {
  color: var(--color-text-hover);
}

/* /Header End */

/* Contact */
.form-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset-inline: 50vw;
  inset-block: 50vh;
  /* min-width: 30rem; */
  /* max-width: 80%; */
  height: 36rem;
  max-height: 77%;
  /* max-height: 70%; */
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}

label:not(.menu-btn),
input,
textarea,
select,
button {
  font-family: var(--font-nav);
  font-size: var(--font-nav-size);
  font-weight: 300;
  line-height: 1.5;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

label:not(.menu-btn) {
  margin-block-start: 1rem;
  /* margin-block-end: .4rem; */

  display: block;
}

.form-input,
.form-textarea {
  padding: 0.1rem;
  width: 100%;
  border: 1px solid #000;
  border-radius: 2px;
}

.form-textarea {
  margin-block-end: 1rem;
}

button {
  padding-inline: 2rem;
  padding-block: 0.1rem;
  border: 1px solid #000;
  border-radius: 2px;
  /* reset: all; */
}

button:hover {
  cursor: pointer;
}

/* Contact END */

/* Works */
.content-container {
  font-family: var(--font-nav);
  font-size: var(--font-nav-size);
  font-weight: var(--font-nav-weight);
  line-height: 2;
}

section h2 {
  font-weight: var(--font-nav-weight);
}

/* Works - END */

footer {
  grid-area: 3 / 1 / 4 / 4;
  text-align: center;
  background-color: white;
  font-family: var(--font-nav);
  font-size: clamp(0.1rem, 0.3rem + 0.3vw, 0.7rem);
  font-weight: 100;
  padding-block-start: 3rem;
}

/* Mobile */
@media (max-width: 48rem) {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 4fr 0.1fr;
    padding-inline: 0.5rem;
    padding-block: 0rem;
  }

  /* Header */
  header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  #logo {
    line-height: 1;
    inset-inline-start: 0;
  }

  h1 {
    margin: 0;
  }

  /* Menu on mobile */
  #menu-open:checked~nav.menu-box {
    display: block !important;
    position: fixed;
  }

  #menu-open:checked~nav ul {
    display: flex !important;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: #e77e9b;
    width: 100vw;
    height: 100vh;
    inset-inline: 50vw;
    inset-block: 10vw;
    transform: translate(-50%, 0);
    padding-block-start: 5rem;
  }

  .menu-btn {
    cursor: pointer;
    line-height: 0;
  }

  .menu-box {
    display: none;
    position: fixed;
  }

  .menu-item:hover {
    border-color: #fff;
    color: #fff;
    cursor: pointer;
  }

  input[type="checkbox"] {
    appearance: none;
  }

  /* Menu button on mobile END */
  /* Header END */

  .bg-container {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url("./assets/images/bird/b1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* Works */
  .works {
    padding-inline: 1em;
    padding-block: 1rem;
  }

  /* Works END */

  footer {
    grid-area: 3 / 1 / 4 / 2;
    padding-block: 0rem;
    text-align: center;
    align-self: end;
  }

  .form-wrapper {
    min-width: 70%;
  }
}

/* Desktop and Larger */
@media (min-width: 48.06rem) {

  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    padding-inline: 3rem;
    padding-block-start: 3rem;
  }

  .menu-btn {
    display: none;
  }

  input[type="checkbox"] {
    appearance: none;
  }

  footer {
    padding-block-start: 1rem;
  }

  .form-wrapper {
    min-width: 30%;
    transform: translate(-30%, -50%);
  }

  /* Works */
  .works {
    min-height: 100vh;
    padding-inline: 3rem;
    padding-block-start: 3rem;
  }

  .works-header {
    position: fixed;
    min-height: 100vh;
    inset-block-start: 0;
    padding-block-start: 3rem;
  }

  .content-container {
    inline-size: 71vw;
    transform: translate(30%, 0);
  }

  section h2 {
    position: absolute;
    inset-inline-end: 0;
  }
  /* Works END */

  .about-me-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    font-family: var(--font-nav);
    font-size: var(--font-nav-size);
    font-weight: var(--font-nav-weight);
  }

  .about-me-wrapper h2 {
    font-weight: var(--font-nav-weight);
  }
}
